@charset "utf-8";
/* CSS Document */
/* CSS Untuk HALAMAN NATALINA*/

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
	height: auto;
	background-color: #ADACEC;
	background-image: linear-gradient(#ADACEC, #F7D8E0);
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', 'sans-serif', "black-ops-one";
}



li {
  list-style: none;
}

a {
  text-decoration: none;
}

@viewport {
	width: device-width;
	zoom: 1.0;
}

.logo {
	width: 5%;
	max-width: 10%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
	height: 65px;
	width: 100%;
	position: fixed;
	z-index: 10;
	opacity: 0.95;
	top: 0;

}

.header-logo {
	float: left;
}

.top-wrapper {
	background-image: url("BG1.png");
	background-size: cover;
	padding: 100px 0 200px 0;
	top: 0;
	width: 100%;
}

.heading {
	padding-top: 50px;
	padding-right: 20px;
	padding-bottom: 40px;
	color: #890963;
	font-weight: bold;
	text-align: center;
	font-size: 28px;
}

.data-warp {
	padding: 0px 20px 0px 20px;
}

.data-icon {
	position: relative;
}

.img {
	float: right;
	width: 20%;
	max-width: 600px;
	height: auto;
	position: relative;
}


.text {
	text-align: justify;
	width: 70%;
	float: left;
	margin-left: 50px;
	margin-top: 25px;
	display: inline;
	position: absolute;
}

p {
	font-size: 20px;
}

.hobbies {
	margin-top: 500px;
	text-decoration: underline;
	line-height: 20px;
	font-size: 32px;
	text-align: center;
	color: #0C1234;
}

.hobby {
	float: left;
	width: 25%;
}

.hobby-icon {
	position: relative;
}

.txt-content {
	width: 80%;
	display: inline-block;
	margin-top: 20px;
	font-size: 16px, 24px;
	text-align: center;
	font-weight: bold;
}

.aspiration {
	margin-top: 300px;
	text-decoration: underline;
	font-size: 32px;
	text-align: center;
	color: #0C1234;
	position: relative;
}

.stories {
	margin-top: 50px;
	text-decoration: underline;
	font-size: 32px;
	text-align: center;
	color: #0C1234;
	position: relative;
}


footer {
	position: absolute;
	bottom: 0;
	background: #111;
	width: 100%;
	color: #fff;
	height: 60px;
}
.footer {
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}
.footer p {
	font-size: 14px;
	word-spacing: 2px;
}


.data-container {
	height: 2500px;
	min-height: 100%;
	position: relative;
}
